/* latin */
@font-face {
  font-family: 'charter';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/tiDDPbnGnng9.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'charter';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/mWSyr0e7dAIm.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'charter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/pJFD9c0c7NM7.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'charter';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/a1kKR24gESuz.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'charter';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/i7JhZpyHbgO6.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'charter';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/CI2VKVpdWAEX.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'charter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/KMKozspZ00bs.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'charter';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/DYOsTF5JRl5t.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'fell';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/kjwlxrB414Gl.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'fell';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/edtXLnR7ganT.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'fell';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/IjDXF5A3Wc2Q.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'fell';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/ZoNG7jadFqIS.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'gt-super';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Gxqxxusko6m7.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'gt-super';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/aeC4US5mxLLE.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'noe';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/h1JHBxV05RUK.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'noe';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/xroSCF9VRiPp.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'opendyslexic';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/FVG0qzBW65v8.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'opendyslexic';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/M1a46qqJ92Ss.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'opendyslexic';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/5R2hB6l0z4b3.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'opendyslexic';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/QnR3utYXf4K9.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/FdNZ4R5YCwAx.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/HT9q1gVikEjP.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/CyoefS2cODdt.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/YHEmpZR4EcyH.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/311smxNNVoMS.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/mp97jqewQdJj.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/5pe3yKtuOEmW.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/EMQCX8ttVU3r.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Vbb16oXq6QSD.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/WDpWPGWBzez9.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/q8agz9oTnlkf.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/1NJR4mrmKOQK.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/8sgGQxhDAyhN.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/SIvfTbVbFICY.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/xomTmhILtLuy.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'sohne';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/uwBslpjlWmpQ.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/pAS0AnnISIpS.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/tiWvG4pqyTAB.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/IuHmdH4tNWyr.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/t5waCY4S2zxb.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/3ysGGciLUPoY.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/xPqoJI8GVsIQ.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/gGsdQNMNqFzS.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-code-pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/wtaHULlVqnIi.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/SkX3HCKo23gL.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/Sv3hJUKTYwJa.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/wDHjap5nLRb2.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/USv7SialSPsZ.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/gn5tHmKDU679.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/S98UKgm9cz0s.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}

/* latin */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/xg44PiuVxCAR.woff') format('woff');
  unicode-range: U+0-7F,U+A0,U+B7,U+200A,U+2014,U+2018,U+2019,U+201C,U+201D,U+2022,U+2026;
}

/* rest */
@font-face {
  font-family: 'source-serif-pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/was8weIrvyPR.woff') format('woff');
  unicode-range: U+80-9F,U+A1-B6,U+B8-2009,U+200B-2013,U+2015-2017,U+201A-201B,U+201E-2021,U+2023-2025,U+2027-10FFFF;
}